.App {
  display: flex;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  flex-direction: row;
}

.Main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 2;
}

.Sidebar {
  display: flex;
  flex-grow: 1;
}

.blindsBox {
  display: flex;
  font-size: 2.5rem;
  flex-direction: row;
  justify-content: space-around;
}

.blinds {
  display: inline-block;
}

.Timer {
  text-align: center;
}

.Timer .currentDisplayTime {
  font-size: 12rem;
  padding: 0px;
  margin: 10px;
}

.Timer .btn {
  font-size: 2em;
  padding: 20px;
  width: 150px;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

.Timer .btn:hover {
  opacity: 0.6;
}


